<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" processIsolation="false" stopOnFailure="true" stopOnError="true" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Log test suite">
      <file>./tests/LogTest.php</file>
    </testsuite>
  </testsuites>
  <source/>
</phpunit>
